<footer class="footer">
    <div class="container">
        <div class="footer-content">
            <div class="contact-info">
                <h3>Contactez-nous</h3>
                <p>Adresse : 123 Rue Beauté, Ville, Pays</p>
                <p>Téléphone : +123 456 789</p>
                <p>Email : contactgasymanja.com</p>
            </div>
            <div class="social-links">
                <h3>Suivez-nous</h3>
                <ul>
                    <li><a href="#">RAMANANTSAFIDY Mariella Jonah Fitia _ ETU1156</a></li>
                    <li><a href="#">Tolojanahary Jean Lucien _ ETU1345</a></li>
                </ul>
            </div>
            <div class="quick-links">
                <h3>Liens Rapides</h3>
                <ul>
                    <li><a href="#">Conditions d'utilisation</a></li>
                    <li><a href="#">Politique de confidentialité</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <a href="#" id="back-to-top-button" title="Retourner en haut">↑</a>
        </div>
        <div class="copyright">
            <p>&copy; 2024 GASYMANJA Salon de Beauté. Tous droits réservés.</p>
        </div>
    </div>
</footer>