<nav class="navbar">
    <div class="container">
        <div class="logo">GASYMANJA</div>
        <div class="auth-buttons">
            <ul class="menu">
                <li><a href="#">Menu 1</a></li>
                <li><a href="#">Menu 2</a></li>
                <li><a href="#">Menu 3</a></li>
            </ul>

            <button mat-button class="btn" (click)="toLogin()">Connexion</button>
            <button mat-button class="btn" (click)="openDialog()">Inscription</button>
        </div>
    </div>
</nav>