<nav class="navbar">
    <div class="container">
        <div class="logo">GASYMANJA</div>
        <div class="auth-buttons">
            <ul class="menu">
                <li><a href="#">Acceuil</a></li>
                <li><a href="#nos-services">Nos services</a></li>
                <li><a routerLink="/manager">Manager</a></li>
                <li><a routerLink="/employe">Employe</a></li>
                <li><a href="/rendez-vous">Rendez-vous</a></li>
                <li><a href="#a-propos">A propos</a></li>
            </ul>
            <ng-container *ngIf="!isLoggedIn; else userLoggedIn">
                <button class="btn" (click)="toLogin()">Connexion</button>
                <button class="btn" (click)="openDialog()">Inscription</button>
            </ng-container>
            <ng-template #userLoggedIn>
                <div class="fa-bell-container">
                    <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
                </div>
                <div class="user-details">
                    <span>{{ user.nom }} {{ user.prenom }}</span>
                </div>
                <div class="fa-logout-container" (click)="openConfirmationModal()">
                    <i class="fa fa-sign-out fa-lg" aria-hidden="true"></i>
                </div>

                <app-logout-confirmation *ngIf="showConfirmationModalLogout"
                    (confirmLogout)="logout()"></app-logout-confirmation>
            </ng-template>
        </div>
    </div>
</nav>