.chart-controls {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    padding: 10px 20px;
    font-size: 12px;
    border-radius: 5px;
}

button.active {
    background-color: #2196F3;
    color: white;
}