<mat-card class="example-card" [style.witdh]="width">
    <mat-card-header>
        <mat-card-title>Horaire d'ouverture</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-list>
            <mat-list-item>
                <span matListItemTitle>Lundi</span>
                <span matListItemLine>08:00 - 15:00</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Mardi</span>
                <span matListItemLine>08:00 - 15:00</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Mercredi</span>
                <span matListItemLine>08:00 - 16:00</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Jeudi</span>
                <span matListItemLine>08:00 - 15:00</span>
            </mat-list-item>
            <mat-list-item style="background-color: var(--secondary-color);">
                <span matListItemTitle><b>Vendredi</b> </span>
                <span matListItemLine><b> 08:00 - 17:00</b> </span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Samedi</span>
                <span matListItemLine>Fermé</span>
            </mat-list-item>
            <mat-list-item>
                <span matListItemTitle>Dimanche</span>
                <span matListItemLine>Fermé</span>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>