<h2 mat-dialog-title>{{ data.title }}</h2>
<mat-dialog-content class="mat-typography">
    <div class="rendez-vous-container">
        <div class="info">
            <p>Client : {{ data.extendedProps['client'].nom }}</p>
            <p>Son email: {{ data.extendedProps['client'].email }}</p>
            <!-- <p>Date : {{ dateRendezVous | date:'fullDate' }}</p>-->
            <p>Début : {{ data.start | date:'HH:mm'}}</p>
            <p>Fin : {{ data.end | date:'HH:mm'}}</p>
            <h3>Date du rendez-vous : {{ data.extendedProps['date_rendez_vous'] | date:'dd/MM/yyyy' }}</h3>
        </div>

        <table class="tableau">
            <thead>
                <tr>
                    <th>Prestation</th>
                    <th>Durée</th>
                    <th>Prix</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ data.extendedProps['services'].nom }}</td>
                    <td>{{ data.extendedProps['services'].duree }} minutes</td>
                    <td>30 000 Ar</td>
                </tr>
            </tbody>
        </table>

    </div>
    <mat-dialog-actions>
        <div style="display: flex; justify-content: flex-end;">
            <button mat-button class="annuler" (click)="onCloseClick()">
                Annuler
            </button>
            <div style="margin-left: 10px;">
                <button mat-button class="supprimer">
                    Supprimer
                </button>
            </div>
            <div style="margin-left: 10px;">
                <button mat-button class="enregistrer">
                    Enregistrer
                </button>
            </div>
            <div style="margin-left: 10px;">
                <button mat-button class="pas-venu">
                    Pas Venu
                </button>
            </div>
        </div>
    </mat-dialog-actions>
</mat-dialog-content>