<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{nom}}{{prenom}}</mat-card-title>
        <mat-card-subtitle>Employé / Coupe et couture</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div style="display: flex; justify-content: space-between;">
            <p>{{email}}</p>
            <p>Temps moyen de travail : <span style="font-weight: bold; font-size: 30px;">7,5</span> heures / jour</p>
        </div>
    </mat-card-content>
</mat-card>
<div style="display: flex; justify-content: space-between;">
    <mat-card class="example-card" style="width: 20%;">
        <mat-card-header>
            <mat-card-title>Ses derniers tâches</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            Contenu de la carte - 8 colonnes
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card" style="width: 80%;">
        <mat-card-header>
            <mat-card-title>Son horaire de travail</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <app-calendar-test></app-calendar-test>
        </mat-card-content>
    </mat-card>
</div>