<div class="card-container">
    <mat-card class="example-card" style="width: 43%;">
        <mat-card-content>
            <app-temps-moyen-de-travail></app-temps-moyen-de-travail>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card" style="width: 56%;">
        <mat-card-content>
            <app-reservation-par-jour></app-reservation-par-jour>
        </mat-card-content>
    </mat-card>
</div>

<div class="card-container">
    <mat-card class="example-card" style="width: 56%;">
        <mat-card-content>
            <app-chiffre-d-affaire></app-chiffre-d-affaire>
        </mat-card-content>
    </mat-card>
</div>