<h1 mat-title class="mat-primary">Liste des employées</h1>

<mat-form-field>
    <mat-label>Selection le status</mat-label>
    <mat-select [(value)]="statusSelected" (selectionChange)="applyFilterByStatus()">
        <mat-option value="tous">Tous</mat-option>
        <mat-option value="nonConfirme">Non confirmé</mat-option>
        <mat-option value="nonValide">Non validé</mat-option>
        <mat-option value="valide">Validé</mat-option>
    </mat-select>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="Nom">
        <th mat-header-cell *matHeaderCellDef> Nom</th>
        <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="Prenom">
        <th mat-header-cell *matHeaderCellDef> Prenom</th>
        <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Commission">
        <th mat-header-cell *matHeaderCellDef> Taux de commission </th>
        <td mat-cell *matCellDef="let element"> {{element.tauxCommission}} </td>
    </ng-container>

    <ng-container matColumnDef="isValide">
        <th mat-header-cell *matHeaderCellDef> Statut de compte </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{
            'non-confirmé': !element.estConfirme,
            'non-validé': !element.estValide,
            'validé': element.estConfirme && element.estValide
          }">
            {{ !element.estValide ?
            'En attente de validation' :
            !element.estConfirme ?
            'Mail non confirmé' :
            'Mail Validé' }}
        </td>
    </ng-container>

    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{
            'non-validé': !element.estValide
        }">
            <button *ngIf="!element.estValide" (click)="validerMail()">Valider</button>&nbsp;
            <button (click)="goToDetailsPage(element._id)">Voir Info.</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>